* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background: #020617;

  position: relative;

  overflow-x: hidden;

  /* REMOVE */

  padding-top: 110px;
}
.hero-section {
  min-height: auto;

  background: #020617;

  color: white;

  position: relative;

  overflow: visible;

  padding-bottom: 0;

  padding-top: 0;
}
/* NAVBAR */

.custom-nav {
  position: fixed;

  top: 15px;
  left: 50%;

  transform: translateX(-50%);

  width: calc(100% - 30px);
  max-width: 1400px;

  z-index: 9999999;

  padding: 14px 25px;

  border-radius: 60px;

  background: rgba(5, 8, 22, 0.9);

  border: 1px solid #2f4cff;

  backdrop-filter: blur(15px);

  box-shadow: 0 0 25px rgba(77, 111, 255, 0.2);
}

/* LOGO */

.logo {
  color: white;

  font-size: 28px;

  font-weight: 800;

  text-decoration: none;

  transition: 0.3s;
}

.logo:hover {
  color: #4d6fff;
}

/* LOGO CIRCLE */

.logo-circle {
  width: 45px;
  height: 45px;

  background: white;

  color: #4d6fff;

  border-radius: 50%;

  display: inline-flex;

  justify-content: center;
  align-items: center;

  margin-right: 10px;

  font-size: 18px;

  font-weight: 700;
}

/* CENTER MENU */

.nav-center {
  gap: 18px;

  background: rgba(255, 255, 255, 0.05);

  padding: 10px 20px;

  border-radius: 40px;
}

/* NAV LINKS */

.nav-link {
  color: white !important;

  font-size: 16px;

  font-weight: 500;

  position: relative;

  transition: 0.3s;
}

/* HOVER */

.nav-link:hover {
  color: #4d6fff !important;
}

/* ACTIVE */

.nav-link.active {
  color: #4d6fff !important;

  font-weight: 700;
}

/* ACTIVE LINE */

.nav-link.active::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -8px;

  width: 100%;
  height: 2px;

  background: #4d6fff;

  border-radius: 10px;
}

/* RIGHT SIDE */

.nav-right {
  display: flex;

  align-items: center;

  gap: 15px;
}

/* LANGUAGE */

.lang {
  color: white;

  font-size: 15px;

  display: flex;

  align-items: center;

  gap: 8px;
}

/* BUTTON */

.nav-btn {
  border: none;

  padding: 11px 24px;

  border-radius: 40px;

  background: white;

  color: black;

  font-weight: 700;

  transition: 0.3s;

  cursor: pointer;

  text-decoration: none;
}
a {
  text-decoration: none;
}

/* BUTTON HOVER */

.nav-btn:hover {
  transform: translateY(-3px) scale(1.03);

  box-shadow: 0 0 20px rgba(77, 111, 255, 0.5);
}

/* MOBILE */

@media (max-width: 992px) {
  .custom-nav {
    border-radius: 25px;

    padding: 18px;
  }

  .nav-center {
    margin-top: 20px;

    text-align: center;

    gap: 10px;
  }

  .nav-right {
    margin-top: 20px;

    justify-content: center;

    flex-wrap: wrap;
  }

  .logo {
    font-size: 22px;
  }
}

/* MOBILE */

@media (max-width: 992px) {
  .custom-nav {
    border-radius: 25px;

    padding: 18px;
  }

  .nav-center {
    margin-top: 20px;

    text-align: center;

    gap: 10px;
  }

  .nav-right {
    margin-top: 20px;

    justify-content: center;

    flex-wrap: wrap;
  }

  .logo {
    font-size: 22px;
  }
}

/* totureal */

/* MAIN */

.tutorial-layout {
  display: flex;
}

/* SIDEBAR */

.tutorial-sidebar {
  position: fixed;

  top: 110px;

  left: 0;

  width: 320px;

  height: calc(100vh - 110px);

  overflow-y: auto;

  background: #020b24;

  padding: 20px;

  border-right: 1px solid #264dff;
}

.tutorial-sidebar h5 {
  color: #7f8db4;

  letter-spacing: 5px;

  font-size: 20px;

  margin-bottom: 20px;
}

.tutorial-sidebar a {
  display: block;

  padding: 18px 35px;

  color: white;

  text-decoration: none;

  border-radius: 18px;

  margin-bottom: 12px;

  font-size: 18px;

  transition: 0.3s;
}

.tutorial-sidebar a:hover {
  background: #3d5dff;
}

.active-side {
  background: #3d5dff;
}

/* RIGHT CONTENT */

.tutorial-content {
  margin-left: 320px;

  width: calc(100% - 320px);

  padding: 110px 50px 50px;

  color: white;

  min-height: 100vh;
}
/* TITLE */

.top-row {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 50px;
}

.top-row h1 {
  font-size: 60px;

  font-weight: 300;

  color: white;
}

.save-btn {
  font-size: 34px;

  color: #3a4ac5;

  cursor: pointer;
}

/* BUTTON */

.btn-row {
  display: flex;

  justify-content: space-between;

  margin-bottom: 60px;
}

.back-btn {
  padding: 18px 35px;

  background: white;

  border: none;

  border-radius: 18px;

  font-size: 22px;
}

.next-btn {
  padding: 18px 35px;

  background: #2e4cd1;

  color: white;

  

  border: none;

  border-radius: 18px;

  font-size: 22px;
}

/* LINE */

.intro-page hr {
  border: 3px solid #1a419c;

  margin: 50px 0;
}

/* BODY */

.intro-body h2 {
  font-size: 60px;

  font-weight: 400;

  margin-bottom: 40px;

  color: white;
}

.intro-body p {
  font-size: 18px;

  line-height: 2;

  color: #d2dced;

  margin-bottom: 30px;
}

.intro-body a {
  color: #6f8fff;
}

/* BUTTON HOVER */

.back-btn:hover {
  transform: translateY(-3px);
}

.next-btn:hover {
  background: #1242ab;
  background: linear-gradient(90deg, #2e4cd1, #031a4c);
  transform: translateY(-3px);
  transition: 0.3s;
}

/* MOBILE*/
 

@media (max-width: 900px) {
  .tutorial-sidebar {
    display: none;
  }

  .tutorial-content {
    margin-left: 0;

    width: 100%;

    padding: 25px;
  }

  .top-row h1 {
    font-size: 50px;
  }

  .intro-body h2 {
    font-size: 38px;
  }

  .intro-body p {
    font-size: 18px;
  }

  .back-btn,
  .next-btn {
    padding: 12px 24px;

    font-size: 18px;
  }
}
