* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #020617;
  position: relative;
  overflow-x: hidden;
  padding-top: 110px;
}

.hero-section {
  min-height: 100vh;
  background: #020617;
  color: white;
  position: relative;
  overflow: hidden;
  padding-bottom: 100px;
  padding-top: 20px;
}

/* NAVBAR */


.custom-nav {
  position: fixed;

  top: 15px;
  left: 50%;

  transform: translateX(-50%);

  width: calc(100% - 30px);
  max-width: 1400px;

  z-index: 9999999;

  padding: 14px 25px;

  border-radius: 60px;

  background: rgba(5, 8, 22, 0.9);

  border: 1px solid #2f4cff;

  backdrop-filter: blur(15px);

  box-shadow: 0 0 25px rgba(77, 111, 255, 0.2);
}

/* LOGO */

.logo {
  color: white;

  font-size: 28px;

  font-weight: 800;

  text-decoration: none;

  transition: 0.3s;
}

.logo:hover {
  color: #4d6fff;
}

/* LOGO CIRCLE */

.logo-circle {
  width: 45px;
  height: 45px;

  background: white;

  color: #4d6fff;

  border-radius: 50%;

  display: inline-flex;

  justify-content: center;
  align-items: center;

  margin-right: 10px;

  font-size: 18px;

  font-weight: 700;
}

/* CENTER MENU */

.nav-center {
  gap: 18px;

  background: rgba(255, 255, 255, 0.05);

  padding: 10px 20px;

  border-radius: 40px;
}

/* NAV LINKS */

.nav-link {
  color: white !important;

  font-size: 16px;

  font-weight: 500;

  position: relative;

  transition: 0.3s;
}

/* HOVER */

.nav-link:hover {
  color: #4d6fff !important;
}

/* ACTIVE */

.nav-link.active {
  color: #4d6fff !important;

  font-weight: 700;
}

/* ACTIVE LINE */

.nav-link.active::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -8px;

  width: 100%;
  height: 2px;

  background: #4d6fff;

  border-radius: 10px;
}

/* RIGHT SIDE */

.nav-right {
  display: flex;

  align-items: center;

  gap: 15px;
}

/* LANGUAGE */

.lang {
  color: white;

  font-size: 15px;

  display: flex;

  align-items: center;

  gap: 8px;
}

/* BUTTON */

.nav-btn {
  border: none;

  padding: 11px 24px;

  border-radius: 40px;

  background: white;

  color: black;

  font-weight: 700;

  transition: 0.3s;

  cursor: pointer;

  text-decoration: none;
}
a {
  text-decoration: none;
}

/* BUTTON HOVER */

.nav-btn:hover {
  transform: translateY(-3px) scale(1.03);

  box-shadow: 0 0 20px rgba(77, 111, 255, 0.5);
}

/* MOBILE */

@media (max-width: 992px) {
  .custom-nav {
    border-radius: 25px;

    padding: 18px;
  }

  .nav-center {
    margin-top: 20px;

    text-align: center;

    gap: 10px;
  }

  .nav-right {
    margin-top: 20px;

    justify-content: center;

    flex-wrap: wrap;
  }

  .logo {
    font-size: 22px;
  }
}

/* MOBILE */

@media (max-width: 992px) {
  .custom-nav {
    border-radius: 25px;

    padding: 18px;
  }

  .nav-center {
    margin-top: 20px;

    text-align: center;

    gap: 10px;
  }

  .nav-right {
    margin-top: 20px;

    justify-content: center;

    flex-wrap: wrap;
  }

  .logo {
    font-size: 22px;
  }
}

/* totureal */

/* MAIN */

.tutorial-layout {
  display: flex;
}

/* SIDEBAR */

.tutorial-sidebar {
  position: fixed;

  top: 110px;

  left: 0;

  width: 320px;

  height: calc(100vh - 110px);

  overflow-y: auto;

  background: #020b24;

  padding: 20px;

  border-right: 1px solid #264dff;
}

.tutorial-sidebar h5 {
  color: #7f8db4;

  letter-spacing: 5px;

  font-size: 20px;

  margin-bottom: 20px;
}

.tutorial-sidebar a {
  display: block;

  padding: 18px 35px;

  color: white;

  text-decoration: none;

  border-radius: 18px;

  margin-bottom: 12px;

  font-size: 18px;

  transition: 0.3s;
}

.tutorial-sidebar a:hover {
  background: #3d5dff;
}

.active-side {
  background: #3d5dff;
}

/* CONTENT */

.tutorial-content {
  margin-left: 360px;

  padding: 20px 60px 60px;

  width: calc(100% - 360px);

  color: white;

  position: absolute;

  top: 110px;

  left: 0;
}

.tutorial-content h1 {
  font-size: 65px;

  margin-top: 100px;

  margin-bottom: 40px;

  margin-top: 0;
}

/* BUTTON */

.btn-row {
  display: flex;

  justify-content: space-between;

  margin-bottom: 50px;
}

.back-btn {
  padding: 18px 40px;

  border: none;

  border-radius: 18px;

  font-size: 20px;
}

.next-btn {
  padding: 18px 40px;

  background: #3538de;

  border: none;

  color: white;

  border-radius: 18px;

  font-size: 20px;
}

/* CARD */

.content-card {
  background: linear-gradient(90deg, #111827, #25304b);

  padding: 40px;

  border-radius: 35px;

  border: 1px solid #3158ff;
}

.content-card h2 {
  font-size: 40px;

  margin-bottom: 30px;
}

.content-card p {
  font-size: 28px;

  color: #cbd5e1;

  margin-bottom: 30px;
}

/* MOBILE */

@media (max-width: 900px) {
  .tutorial-sidebar {
    position: relative;

    top: 0;

    width: 100%;

    height: auto;
  }

  .tutorial-content {
    margin-left: 0;

    padding: 30px;
  }

  .tutorial-content h1 {
    font-size: 55px;
  }

  .content-card h2 {
    font-size: 40px;
  }
}

/* example card */

/* EXAMPLE */

.example-card {
  padding: 50px;

  border-radius: 35px;

  background: linear-gradient(90deg, #111827, #24304b);

  border: 1px solid #3158ff;

  margin-bottom: 60px;
}

.example-card h2 {
  font-size: 60px;

  margin-bottom: 25px;
}

.example-card p {
  font-size: 24px;

  color: #d5def0;
}

/* CODE */

.code-box {
  background: #071225;

  padding: 35px;

  border-left: 7px solid #58b567;

  border-radius: 15px;

  margin-top: 30px;

  margin-bottom: 30px;
}

.code-box pre {
  color: white;

  font-size: 24px;

  line-height: 2;
}

.try-btn {
  padding: 18px 40px;

  background: #58b567;

  color: white;

  border: none;

  border-radius: 15px;

  font-size: 22px;
}

.note-card {
  padding: 50px;

  border-radius: 30px;

  background: #2b3418;
}

.note-card p {
  font-size: 24px;

  color: #f1f1d0;
}

/* MOBILE */

@media (max-width: 900px) {
  .tutorial-sidebar {
    position: relative;

    top: 0;

    width: 100%;

    height: auto;
  }

  .tutorial-content {
    margin-left: 0;

    width: 100%;

    padding: 20px;
  }

  .tutorial-content h1 {
    font-size: 52px;
  }

  .content-card h2 {
    font-size: 42px;
  }
}
/* MOBILE */

@media (max-width: 900px) {
  /* SIDEBAR HIDE */

  .tutorial-sidebar {
    display: none;
  }

  /* CONTENT */

  .tutorial-content {
    margin-left: 0;

    width: 100%;

    padding: 20px;
  }

  /* TITLE */

  .tutorial-content h1 {
    font-size: 50px;
  }

  /* CARD */

  .content-card {
    padding: 30px;
  }

  .content-card h2 {
    font-size: 40px;
  }

  .content-card p {
    font-size: 20px;
  }

  /* BUTTON */

  .btn-row {
    display: flex;

    justify-content: space-between;

    gap: 15px;
  }

  .back-btn,
  .next-btn {
    width: auto;

    padding: 12px 25px;

    font-size: 18px;

    border-radius: 12px;
  }
}
